@model X.PagedList.IPagedList<ApollyonInc.Models.Pessoas_e_Empresas.Pessoas_e_Empresas>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Gerênciar Clientes";
}

<h1>Gerênciar Clientes</h1>
@*Pesquisa*@
<form asp-controller="Pessoas_e_EmpresasController" asp-action="Index" method="post">
    <input class="form-control" name="txtProcurar" type="search" placeholder="Procurar" aria-label="Search">
    <button class="btn btn-dark" type="submit">Procurar</button>
</form>

<p>
    <a class="btn btn-primary" asp-action="CreatePE">Cadastrar Cliente</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Status
            </th>
            <th>
                Nome/Razao Social
            </th>
            <th>
                CPF/CNPJ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeRazaoSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPFCNPJ)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="~/img/search_25px.png" />Visualizar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, pagina => Url.Action("Index", new {pagina}))