@model ApollyonInc.Models.Pessoas_e_Empresas.Historico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Historico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo_De_Historico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo_De_Historico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HistoricoTEXTO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HistoricoTEXTO)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
